@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.header {
    width: 100vw;
    height: 134px;
    background-color: #EDF2EC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 16px;
}

.header .wrapper {
    width: 1220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_menu {
    width: 452px;
    height: 50px;
}

.header_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 50px;
}

.header_red {
    font-weight: 700;
    color: #E06733;
}

.header_link {
    transition: .3s;
}

.header_link:hover {
    color: #E06733;
    font-weight: 700;
}

.welcome {
    width: 100vw;
    height: 532px;
    background-color: #EDF2EC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.welcome .wrapper {
    width: 1282px;
    height: 407px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    color: #717171;
}

.welcome_img {
    width: 448px;
    height: 407px;
}

.welcome_text {
    width: 549px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.welcome_text h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
}

.welcome_green {
    color: #499A18;
}

.welcome_text p {
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.welcome_text button {
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    transition: .3s;
}

.welcome_text button:hover {
    background-color: #E06733;
    color: #fff;
    cursor: pointer;
}

.about{
    height: 666px;
    width: 100vw;
    
    display: flex;
    align-items: center;
    justify-content:center;
    font-family: 'Inika', serif;
}

.about__block{
    width: 1222px;
    height: 472px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    color: #884a4a;
    
}

.about_left{
    width: 464px;
    height: 472px;    
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.about_right{
    width: 605px;
    height: 350px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.about_right h2 {
    font-weight: 500;
    font-size: 47px;
    line-height: 50px;
}
.about_right p{
    font-size: 20px;
    line-height: 35px;
    
}
.about_orange{
    color: #E06733;
}
.about_green{
    color: #499A18;
}

.service{
    width: 100vw;
    height: 1300px;
    
    padding-top: 25px;
    font-family: 'Inika', serif;
  display: flex;
align-items: center;
justify-content: center;
    background-color:#EDF2EC;
    
    
}
.service .wrapper {
    width: 1222px;
    height: 90%;
    display: flex;
  justify-content: space-around; 
  align-items: flex-start;
    flex-direction: column;
}

.service_header{
    height: 94px;
    width: 1007px;
    display: flex;
    align-items: center;
    justify-content:space-between;

   
}
.service_header_text{
    height: 94px;
    width: 306px;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #499A18;
    
}

.service_header_buttons{
    height: 50px;
    width: 559px;
    display: flex;
    justify-content:space-between;
}
.service_header_buttons button {
    width: 161px;
    height: 50px;
    border: 2px solid #E06733;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    transition: .3s;
    color: #E06733;
}

.service_header_buttons button:hover {
    background-color: #E06733;
    color: #fff;
    cursor: pointer;
}
.service_main{
    width: 1222px;
    height: 995px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}
.service_card{
    width: 330px;
    height: 450px;
}
.service_text{
    border: 1px solid #E3E1D5;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 20px;
    color: #717171;
    
}